html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: var(--calcite-color-background);
}

/* Calcite Theme Editor: https://esrips.github.io/calcite-theme-editor/ */

.calcite-mode-dark,
.calcite-mode-light {
  color-scheme: light;
  --calcite-mode-name: light;
  --calcite-color-brand: #388f22;
  --calcite-color-brand-hover: #2d721b;
  --calcite-color-brand-press: #225614;
  --calcite-color-text-1: #1e4a14;
  --calcite-color-text-2: #1f4e15;
  --calcite-color-text-3: #245918;
  --calcite-ui-text-highlight: #388f22;
  --calcite-color-text-inverse: #ffffff;
  --calcite-color-text-link: #2d721b;
  --calcite-link-blue-underline: rgba(56, 143, 34, 0.5);
  --calcite-color-background: #f7f7f7;
  --calcite-color-foreground-1: #ffffff;
  --calcite-color-foreground-2: #f2f2f2;
  --calcite-color-foreground-3: #ededed;
  --calcite-color-inverse: #000000;
  --calcite-color-inverse-hover: #000000;
  --calcite-color-inverse-press: #000000;
  --calcite-color-border-1: #788c74;
  --calcite-color-border-2: #7f927b;
  --calcite-color-border-3: #869883;
  --calcite-color-border-input: #596856;
  --calcite-ui-icon-color: currentColor;
  --calcite-color-status-info: #2d721b;
  --calcite-color-status-success: #308e29;
  --calcite-color-status-warning: #f1c21b;
  --calcite-color-status-danger: #d83020;
  --calcite-color-status-danger-hover: #a82b1e;
  --calcite-color-status-danger-press: #7c1d13;
}

.esri-widget,
.esri-search {
  color: var(--calcite-color-text-2);
  background-color: var(--calcite-color-foreground-1);
}

.esri-input,
.esri-menu {
  color: var(--calcite-color-text-2);
  background-color: var(--calcite-color-background);
}

.esri-menu__list-item--focus,
.esri-menu__list-item:hover,
.esri-menu__list-item:focus {
  background-color: var(--calcite-color-foreground-1);
}

.esri-widget--button {
  color: var(--calcite-color-text-1);
  background-color: var(--calcite-color-foreground-3);
}

.esri-legend {
  width: unset !important;
}

/*
.esri-widget__heading,
.esri-bookmarks__bookmark,
.esri-bookmarks__bookmark-name {
  color: var(--calcite-color-text-2) !important;
  background-color: var(--calcite-color-foreground-1) !important;
}*/

calcite-shell[content-behind] #center-container {
  margin: 0 50px 0 50px;
}

calcite-navigation[slot="header"] {
  --calcite-navigation-border-color: var(--calcite-color-brand);
}

calcite-navigation[slot="header"] [slot] {
  margin: 0 0.2rem;
}

calcite-navigation[slot="header"]
  calcite-action[slot="navigation-action"]:first-of-type {
  margin-left: 1rem;
  pointer-events: none;
}

calcite-navigation[slot="header"] calcite-navigation-logo {
  pointer-events: none;
  --calcite-color-text-1: var(--calcite-color-brand);
}

calcite-navigation calcite-action[slot="navigation-action"] {
  --calcite-color-icon-color: var(--calcite-color-brand);
}

calcite-loader#app-loader {
  --calcite-loader-size: 8rem;
  align-self: center;
  justify-self: center;
}

calcite-modal {
  --calcite-modal-content-background: var(--calcite-color-background);
}

calcite-modal [slot="secondary"] calcite-label {
  --calcite-label-margin-bottom: 0;
}

calcite-list-item {
  --calcite-color-text-1: var(--calcite-color-brand);
}

#center-container {
  height: 100%;
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

#view-container {
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

#pop-count-label,
.stat-label {
  font-size: 31pt;
}

.unit-label {
  font-size: 12pt;
}
